In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('data/top_crypto.csv', sep=",")
df['Date'] = pd.to_datetime(df['Date'])

#df.drop(index=1, inplace=True)
df.head(3)
df

,Date,Open,High,Low,Close,Adj Close,Volume($),Symbol,Daily Return
0,2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,29374.152344,40730301359,BTC,0.012842
1,2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765,BTC,0.093726
2,2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202,BTC,0.020380
3,2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,31971.914062,81163475344,BTC,-0.024712
4,2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782,BTC,0.063197
...,...,...,...,...,...,...,...,...,...
16039,2024-02-16,2.143799,2.163639,2.101517,2.160291,2.160291,4133447,TON,0.011708
16040,2024-02-17,2.159645,2.638445,2.156239,2.587086,2.587086,170975160,TON,0.197564
16041,2024-02-18,2.592313,2.732283,2.424762,2.539670,2.539670,127117928,TON,-0.018328
16042,2024-02-19,2.544140,2.547866,2.418916,2.425865,2.425865,27400641,TON,-0.044811
16043,2024-02-20,2.425128,2.425310,2.287904,2.344989,2.344989,14685023,TON,-0.033339

In [7]:
#  Moving Averages
df['SMA_30'] = df['Close'].rolling(window=30).mean()
df['SMA_60'] = df['Close'].rolling(window=60).mean()
df['SMA_90'] = df['Close'].rolling(window=90).mean()

df['EMA_30'] = df['Close'].ewm(span=30, adjust=False).mean()
df['EMA_60'] = df['Close'].ewm(span=60, adjust=False).mean()
df['EMA_90'] = df['Close'].ewm(span=90, adjust=False).mean()


# RSI
delta = df['Close'].diff(1)
gain = (delta.where(delta > 0, 0)).rolling(window=14).mean()
loss = (-delta.where(delta < 0, 0)).rolling(window=14).mean()
rs = gain / loss
df['RSI'] = 100 - (100 / (1 + rs))

# MACD
df['EMA_12'] = df['Close'].ewm(span=12, adjust=False).mean()
df['EMA_26'] = df['Close'].ewm(span=26, adjust=False).mean()
df['MACD'] = df['EMA_12'] - df['EMA_26']
df['Signal_Line'] = df['MACD'].ewm(span=9, adjust=False).mean()
df['MACD_Histogram'] = df['MACD'] - df['Signal_Line']

In [8]:
df.isnull().sum()

Date               0
Open               0
High               0
Low                0
Close              0
Adj Close          0
Volume($)          0
Symbol             0
Daily Return       0
SMA_20            19
EMA_20             0
RSI               13
EMA_12             0
EMA_26             0
MACD               0
Signal_Line        0
MACD_Histogram     0
SMA_30            29
SMA_60            59
SMA_90            89
EMA_30             0
EMA_60             0
EMA_90             0
dtype: int64

In [5]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume($),Symbol,Daily Return,SMA_20,EMA_20,RSI,EMA_12,EMA_26,MACD,Signal_Line,MACD_Histogram
0,2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,29374.152344,40730301359,BTC,0.012842,NaN,29374.152344,NaN,29374.152344,29374.152344,0.000000,0.000000,0.000000
1,2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765,BTC,0.093726,NaN,29636.353795,NaN,29797.708534,29578.086806,219.621728,43.924346,175.697382
2,2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202,BTC,0.020380,NaN,29935.941380,NaN,30256.833903,29815.415445,441.418459,123.423168,317.995290
3,2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,31971.914062,81163475344,BTC,-0.024712,NaN,30129.843540,NaN,30520.692389,29975.156083,545.536306,207.845796,337.690510
4,2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782,BTC,0.063197,NaN,30497.708887,NaN,31054.805820,30272.731906,782.073914,322.691419,459.382495